#header {
	margin: 0px;
	border: 0px;
}

#layout-body {
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.dropdown-toggle {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#post-image {
	height: auto;
	width: 400px;
	border: 0px;
}

#artist {
	border: 0px;
	font-family: 'New Rocker', cursive;
}

.venue-list {
	list-style: none;
}

.modal-footer {
	text-align: center;
}

#venue {
	border: 0px;
	font-family: 'Monda', sans-serif;
}

.venue-submit {
	font-family: 'Monda', sans-serif;
	font-size: 20px;
}

#post-venue {
	font-family: 'Monda', sans-serif;
}

#nav-header {
	height: 100px;
	background-color: #6b6666;
	margin: 0px;
	border: 0px;
}

#notifications {
	color: black;
}

#logo {
	border: 0px;
	height: 80px;
	width: auto;
}

#camera {
	margin-left: 50px;
	height: 70px;
	width: auto;
}

#author {
	margin: 0px;
	border: 0px;
}

textarea {
	width: 100px;
	height: 100px;
}

button {
	border-radius: 50%;
}

.author {
	font-weight: bold;
}

.dropdown {
	list-style: none;
}

.comment-info {
	list-style: none;
	text-align: center;
}

#comment-body {
	font-style: italic;
}