<template name="postItem">
	<div class="row">
		<div class="post-content">
			<div class="col-md-4"></div>
			<div class="col-md-4 text-center">
				<h3 id="artist">{{artist}}</h3>
				<h4 id="venue">at {{venue}}</h4>
				<h3><img src="{{image}}" id="post-image"></h3>
				<p id="author">
					Photo by {{author}}
				</p>
				<h5>{{author}} says: {{ownerComment}}</h5>
				<a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
				<a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
			</div>
		</div>
	</div>
</template>