<template name="venueCheckin">
	<!-- Modal -->
	<div id="venue-choice" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Choose Your Venue</h4>
	      </div>
	      <div class="modal-body">
	        <div id="fourSquare"></div>
	      </div>
	      <div class="modal-footer">
      		<img id="foursquare-logo" src="/images/Powered-by-Foursquare.png"/>
	      </div>
	    </div>
	  </div>
	</div>
</template>