<template name="photoNew">
	<div>
    <div class="col-md-4 col-sm-4 col-xs-4"></div>
    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
  	  <h2>Snap your pic!</h2>

  	  {{> cameraEvent}}
  	  {{> libraryEvent}}
  	  {{> img}}
    </div>
	</div>
</template>
<template name="cameraEvent">
  <div>
    <p>Camera</p>
    <button>Click Me</button>
  </div>
</template>

<template name="libraryEvent">
  <div>
    <p>Library</p>
    <button>Click Me</button>
  </div>
</template>

<template name="img">
  <div>
    {{#if img}}
      <img src="{{img}}" alt="">
    {{/if}}
  </div>
</template>
